{% block menu %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index') }}">Index page</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('survey_user',{'type':'reply'}) }}">Reply surveys</a></li>
                    <li><a href="{{ path('survey_user',{'type':'nps'}) }}">Nps surveys</a></li>
                    <li><a href="{{ path('survey_user',{'type':'phone_in'}) }}">Phone surveys</a></li>
                    <li><a href="{{ path('survey_user',{'type':'resend_ready'}) }}">Surveys ready for resend</a></li>
                    <li><a href="{{ path('survey_user',{'type':'cancel_request'}) }}">My cancel request</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if npsratio is defined and replyratio is defined and phoneinratio is defined %}
                        <li>Statistics: NPS {{ npsratio|round(2) }} - REPLY {{ replyratio|round(2) }}% - PHONE IN {{ phoneinratio|round(2) }}</li>
                    {% endif %}
                    <li><a href="#">{{ app.user.username }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}