{% extends '@Survey/admin/index.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                Staff rate list
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover table-responsive">
                    <thead class="thead-default">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for staffrate in surveyStaffRates %}
                        <tr>
                            <th scope="row"><a href="{{ path('staffrate_show', { 'id': staffrate.id }) }}">{{ staffrate.id }}</a></th>
                            <td>{{ staffrate.name }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle glyphicon glyphicon-cog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('staffrate_show', { 'id': staffrate.id }) }}">Show</a></li>
                                        <li><a href="{{ path('staffrate_edit', { 'id': staffrate.id }) }}">Edit</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('staffrate_new') }}" class="btn btn-bg btn-danger">Create a new staff rate</a>
            </div>
        </div>


    </div>
{% endblock %}
