{% extends '@Survey/admin/index.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                Staff rate {{ surveyStaffRate.name }}
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover table-responsive">
                    <thead class="thead-default">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row"><a href="{{ path('staffrate_show', { 'id': surveyStaffRate.id }) }}">{{ surveyStaffRate.id }}</a></th>
                        <td>{{ surveyStaffRate.name }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('staffrate_edit', { 'id': surveyStaffRate.id }) }}" class="btn btn-info">Edit</a>
                                {{ form_start(delete_form) }}
                                <input type="submit" value="Delete" class="btn btn-danger">
                                {{ form_end(delete_form) }}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a href="{{ path('staffrate_index') }}" class="btn btn-bg btn-info">Back to the list</a>
            </div>
        </div>


    </div>
{% endblock %}
